<section id="slider">
    <div class="slide">
        <img src="/images/tooplate_image_01.jpg" alt="Slide 1">
    </div>

    <div class="slide">
        <img src="/images/tooplate_image_02.jpg" alt="Slide 2">
    </div>

    <div class="slide">
        <img src="/images/tooplate_image_03.jpg" alt="Slide 3">
    </div>
</section>