<<<<<<< HEAD
<div id="tooplate_middle">
    <div id="slider" class="nivoSlider">
        <img src="/images/slideshow/01.jpg" />
        <img src="/images/slideshow/02.jpg" />
        <img src="/images/slideshow/03.jpg" />
        <img src="/images/slideshow/04.jpg" />
    </div>
</div>
=======
<section id="slider">
    <div class="slide">
        <img src="/images/tooplate_image_01.jpg" alt="Slide 1">
    </div>

    <div class="slide">
        <img src="/images/tooplate_image_02.jpg" alt="Slide 2">
    </div>

    <div class="slide">
        <img src="/images/tooplate_image_03.jpg" alt="Slide 3">
    </div>
</section>
>>>>>>> a51da41faed466be739c35907146ae5de9284f84
