<section id="welcome">
<<<<<<< HEAD
    <div class="container">
        <h1>Welcome to My Website</h1>
        <p>This is a simple website built with Node.js and EJS.</p>
    </div>
=======
    <h1>Welcome Page</h1>
    <p>Chào mừng đến với website của chúng tôi</p>

    <button>Learn More</button>
>>>>>>> a51da41faed466be739c35907146ae5de9284f84
</section>