body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
<<<<<<< HEAD
  contain: content;
=======
>>>>>>> ad2b6d5 (Initialize project using Create React App)
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
<<<<<<< HEAD

/* html, body, #root, .app-wrapper {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
} */


=======
>>>>>>> ad2b6d5 (Initialize project using Create React App)
