/* Fix thanh toolbar nhảy lên đầu */
.ck-editor__editable_inline {
    min-height: 400px;
    scroll-margin-top: 80px;
}

.ck.ck-toolbar {
    position: relative !important; /* Thay vì sticky */
    top: 0 !important;
    z-index: 10;
    background-color: #fff;
    border-bottom: 1px solid #ddd;
}


/* Khắc phục CKEditor nằm trong element bị overflow/relative */
.editor-wrapper {
    position: relative;
    z-index: 1;
    min-height: 600px;
    padding-bottom: 40px;
}



